{% extends "common/base.html" %}
{% load youtube_filters %}

{% block content %}
<h1>{{ work.title }}</h1>
<p>Author: {{ work.author.username }}</p>
<p>Category: {{ work.get_category_display }}</p>
<p>Genre: {{ work.genre }}</p>
<p>Description: {{ work.description }}</p>

{% if work.text_content %}
    <pre class="work-detail-text">{{ work.text_content }}</pre>
{% elif work.youtube_link %}
    <iframe width="560" height="315" src="{{ work.youtube_link|youtube_embed }}" frameborder="0" allowfullscreen></iframe>
{% elif work.audio_file %}
    <audio controls>
        <source src="{{ work.audio_file.url }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
{% endif %}

{% if user == work.author %}

    <form method="POST" action="{% url 'work_delete' pk=work.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Изтрий произведението</button>
    </form>
{% endif %}

{% endblock %}
